In [53]:
import pandas as pd
pd.set_option('display.precision', 2)

In [54]:
df = pd.read_csv('realestate_texas.csv')
df.head()

,city,year,month,sales,volume,median_price,listings,months_inventory
0,Beaumont,2010,1,83,14.16,163800.0,1533,9.5
1,Beaumont,2010,2,108,17.69,138200.0,1586,10.0
2,Beaumont,2010,3,182,28.70,122400.0,1689,10.6
3,Beaumont,2010,4,200,26.82,123200.0,1708,10.6
4,Beaumont,2010,5,202,28.83,123100.0,1771,10.9

In [55]:
pd.DataFrame({
    'sales': df['sales'].describe(),
    'volume': df['volume'].describe(),
    'median_price': df['median_price'].describe(),
    'listings': df['listings'].describe(),
    'months_inventory': df['months_inventory'].describe(),
})

        sales  volume  median_price  listings  months_inventory
count  240.00  240.00        240.00    240.00            240.00
mean   192.29   31.01     132665.42   1738.02              9.19
std     79.65   16.65      22662.15    752.71              2.30
min     79.00    8.17      73800.00    743.00              3.40
25%    127.00   17.66     117300.00   1026.50              7.80
50%    175.50   27.06     134500.00   1618.50              8.95
75%    247.00   40.89     150050.00   2056.00             10.95
max    423.00   83.55     180000.00   3296.00             14.90

In [56]:
df_freq_ass = df['city'].value_counts()
df_freq_rel = df['city'].value_counts()/len(df['city'])
pd.DataFrame({'freq_ass': df_freq_ass, 'freq_rel': df_freq_rel})

                       freq_ass  freq_rel
city
Beaumont                     60      0.25
Bryan-College Station        60      0.25
Tyler                        60      0.25
Wichita Falls                60      0.25

In [57]:
df_freq_ass = df['year'].value_counts()
df_freq_rel = df['year'].value_counts()/len(df['year'])
pd.DataFrame({'freq_ass': df_freq_ass, 'freq_rel': df_freq_rel})

      freq_ass  freq_rel
year
2010        48       0.2
2011        48       0.2
2012        48       0.2
2013        48       0.2
2014        48       0.2

In [58]:
df_freq_ass = df['month'].value_counts()
df_freq_rel = df['month'].value_counts()/len(df['month'])
pd.DataFrame({'freq_ass': df_freq_ass, 'freq_rel': df_freq_rel})

       freq_ass  freq_rel
month
1            20      0.08
2            20      0.08
3            20      0.08
4            20      0.08
5            20      0.08
6            20      0.08
7            20      0.08
8            20      0.08
9            20      0.08
10           20      0.08
11           20      0.08
12           20      0.08